   
  :root {
  --form-bg-color: #5d7180;
   --form-text-color: #ffffff;
   --form-border-color: #ccc;
   --input-bg-color: #ffffff;
   --input-text-color: #000000;
   --input-border-radius: 5px;
}
   .dark-mode {
    --form-bg-color: #2b3b4b;
    --form-text-color: #e0e0e0;
    --form-border-color: #555;
    --input-bg-color: #3a4a5a;
    --input-text-color: #ffffff;
}

.create-container {
    max-width: 500px; 
    width: 90%; 
    padding: 20px;
    background: var(--form-bg-color);
    color: var(--form-text-color);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: var(--form-text-color);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 100%;
    padding: 10px;
    background: var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--input-border-radius);
    transition: background var(--transition-bg-duration);
}
button{
    color: white;
    background-color: #2b3b4b;
    min-height: 30px;
}

input:focus {
    outline: none;
    border-color: var(--nav-title-color);
}

@media (max-width: 600px) {
    .create-container {
        width: 95%; 
    }
}